* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(213, 213, 196);
}

.top-background {
    background-color: rgb(240, 239, 232); /* Change the color as needed */
    height: 870px; /* Adjust the height of the background */
    width: 100%;
    position: absolute;
    top: -10px; /* Adjust this value to control the overlap */
    z-index: -1; /* Set a lower z-index to place it behind other elements */
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #ffffff;
  }
  
  
  
  .logo {
    width: 150px; /* Adjust the width of the logo */
    height: auto;
    margin-right: 30px; /* Adjust the margin as needed */
    cursor: pointer;
    margin-left: 120px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    padding: 20px;
  }
  
  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  
  
  .social-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    margin-right: 120px;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
  }
  .login-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0px;
  }
  
  .login-button {
    background-color: rgb(253, 218, 116);
    border: none;
    color: black;
    padding: 14px 55px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 100px;
  }
  
  .login-button:hover {
    background-color: #ffdb4d;
  }
  
  .contact-info {
    text-align: center;
    color: rgb(172, 172, 172);
    position: absolute;
    top: 10px;
    left: 46%;
    transform: translateX(-50%);
    border-bottom: solid 1px;
    padding-bottom: 10px;
    border-color: rgb(172, 172, 172);
    cursor: pointer;
  }
  
  .contact-logo {
    width: 15px;
    height: 15px;
  }

  .Home-service-news-contact {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translateX(-50%);
    font-weight: bold;
    cursor: pointer;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headline {
    /* Styling for the headline text */
    font-size: 80px; /* Example font size */
    font-weight: bold; /* Example font weight */
    margin-top: -200px;
    /* Add more styling as needed */
}

.buttons {
    text-align: left;
    margin-left: 0;

}
.btn {
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 14px;
    cursor: pointer;
    border: none; /* Remove border for a cleaner look */
    border-radius: 20px; /* Rounded edges */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#consulting {
    background-color: rgb(253, 218, 116);
    color: black;
}

#consulting:hover {
    background-color: #ffdb4d;
  }

#learn-more {
    background-color: transparent;
    color: black;
    border: 1px solid black; /* Add border for visibility */
}

#learn-more:hover {
    background-color: #f0f0f0; /* Light grey on hover */
}
.picture {
    display: flex;
    justify-content: space-evenly;
    gap: 20px; /* Space mellan loggor */
    margin-top: 40px; 
    margin-right: 40px;
}

.picture img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 60px;
}
.grid-one {
    width: 70%;
    margin: 0 auto; /* Add this line to center the section */
    text-align: center; /* Add this line to center the contents */
    margin-top: 100px;
}

.grid-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: start;
}

.rad-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2 / span 2;
    gap: 20px;
}

.rad1 > h2 {
    padding: 0;
    margin: 0;
    text-align: start;
}

.smallheaders {
    color: rgb(255, 114, 65);
    text-align: start;
    font-size: 13px;
}

.flex-ouraccount {
    padding: 60px;
    border: solid 1px rgb(240, 239, 231);
    display: flex;
    flex-direction: column;
}
.business-div {
    font-weight: bold;
    margin: 10px;

}
.lorem {
    font-size: 10px;
    font-weight: lighter;
    color: grey;   
}
.btn2{
    padding: 10px 100px;
    margin-top: 30px;
    font-size: 14px;
    cursor: pointer;
    border: none; 
    border-radius: 30px; 
    transition: background-color 0.3s;
    background-color: rgb(253, 218, 116);
}
.bild{
    width: 400px;
    height: 400px;
    object-fit: cover;
}


.container-bild{
    display: flex;
    gap: 60px;
    margin-top: 20px;
    justify-content: center;

}
.container-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
    text-align: start;
    margin-left: 50px;
    /* margin: 0 auto */
}
.section-two {
    width: 70%;
    margin: 0 auto; /* Add this line to center the section */
    text-align: center; /* Add this line to center the contents */
    margin-top: 100px;
}
.btn3{
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 12px;
    cursor: pointer;
    border: none; 
    border-radius: 30px; 
    transition: background-color 0.3s;
    background-color: black;
    color: white;
}
.btn4{
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 12px;
    cursor: pointer;
    border: none; 
    border-radius: 30px; 
    transition: background-color 0.3s;
    background-color: transparent;
    color: black
}

.bakgrund {
    background-color: rgb(240, 239, 232);
    margin-top: 100px;
}
.sektiontre {
    width: 70%;
    margin: 0 auto; /* Add this line to center the section */
    text-align: center; /* Add this line to center the contents */
    margin-top: 100px;
}
.main-container {   
    padding: 20px; /* Space between the container edge and flex items */
    /* Additional styles for the main container (e.g., border, margin) can be added here */
    margin-top: 30px;
    text-align: start;

}

.flex-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 15px;
   margin-top: 30px;
}

.flex-container>div{
    height: 25vh;
    padding: 10px;
    text-align: start;
    font-weight: bold;
}

.block1, .block3, .block4{
    background-color: white;
    text-align: start;

}

.block2{
    background-color: rgb(233, 208, 137);
    
}
.browse {
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 12px;
    cursor: pointer;
    border: solid black 1px; 
    border-radius: 30px; 
    transition: background-color 0.3s;
    background-color: transparent;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sektionfyra {
    margin: 0 auto;

}
.usb-with-icon {
   margin-right: 10px;
}
.logo2 {
    height: 25px;
    width: 25px;
}
.containerett {
    display: flex;
    align-items: center;
}

.span-header {
    font-weight: bold;
}

.text-contessnt {
    display: flex;
    flex-direction: column;
}

.background-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

}
.white {
    height: 40%;
    flex: 1;
}

.beige {
    height: 60%;
    flex: 1;
    background: #d3d3d3;
}

.flex-choose {
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-top: 30px;
}



.image-amy {
    height: 300px;
    margin-top: 60px;
    margin-left: 20px;
}
.span-header {
    font-weight: bold;   
}
.grid-projects {
    display:grid;
    gap: 20px;
    width: 100%;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
}

.projects-image {
    width: 100%;
    height: 250px
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13rem;
}

.header-grid-projects, .header-grid-clients {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meet-team-button {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 40px;
    border: 1px black solid;
    background: transparent;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
}

.readmore {
    text-align: end;
    font-size: 10px;
    cursor: pointer;
}
.projectsheader {
    font-weight: bold;
    border-bottom: solid 2px rgb(231, 231, 231);
    padding-bottom: 15px;
}
.projects-button {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 40px;
    border:none;
    background: black;
    color: white;
    padding: 10px 15px;
    cursor: pointer;

}.meet-team-section, .meet-team-articles {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.meet-team-section h2 {
    margin: 0x;
    margin-top: 10px;
}

.yellow-background {
    padding: 3rem 13rem;
    background: rgb(233, 208, 137);
}

.members {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.members img {
    height:210px;
    width: 170px; 
    object-fit: cover;
}

.section-clients {
    background: white;
    padding: 4rem;
    margin-top: 4rem;
}

.grid-clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 2rem;
    text-align: start;
}

.section-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounded-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.name-image {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1.5rem;
}
.grid-clients div p {
    font-size: 14px;
    font-weight: 100;
}
.smallname {
    font-weight: bold;
}
.newsletter {
    display: flex;
    justify-content:space-evenly;
    padding: 3rem 13rem;  
    background-color: rgb(240, 239, 231); 
    margin-top: 2rem;
    width: 100%;
}

.input {
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 12px;
    cursor: pointer;
    border: none; 
    border-radius: 30px; 
}

.button-newsletter {
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 12px;
    cursor: pointer;
    border: none; 
    border-radius: 30px; 
    background-color: rgb(253, 218, 116);;
    
}



.flex-articles {
    display: flex;
    margin-top: 3rem;
    margin: 0 auto;
    gap: 10px;
    padding: 0rem 13rem;
}
.meet-team-articles {
    padding: 0rem 13rem;
    margin-top: 2rem;
    text-align: start;
}
.businessheaders {
    font-size: 10px;
    color: rgb(106, 108, 114);
}

.articles-div {
    margin-bottom: 50px;
}

.articles-div img {
 width: 230px;
}

.end-container {
    display: flex;
    background-color: rgb(0, 0, 39);
    padding: 20px;
    box-sizing: border-box;
  }

.box {
    width: 200px;
    height: 150px;
    background-color: rgb(0, 0, 39);
    color: white;
    text-align: center;
    font-size: 10px;
    line-height: 1.5; 
    margin-right: 30px; 
    overflow: visible; 
    text-overflow: ellipsis;
  }
  
  .box-one {
    width: 250px;
    height: 200px;
    background-color: rgb(0, 0, 39);
    color: white;
    font-size: 10px;
    line-height: 1.5; 
    margin-right: 30px; 
    margin-left: 80px;
    overflow: visible; 
    white-space: nowrap;
    text-overflow: ellipsis; 
  
  }
  
  
  .box:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
  }
  
  .h3 {
    margin: 10;
    font-weight: bold;
  }
.widescreen-box-one {
    background-color: rgb(0, 0, 39);
    color: white;
    text-align: left;
    padding: 10px 150px;
    font-size: 10px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #949494;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container-end {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
  }
  
  .logo-container-end img {
    width: 20px; 
    height: 20px;
    margin-left: 10px;
  }