* { box-sizing: border-box; } 
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #ffffff;
  }
.top-background { 
    background-color: rgb(240, 239, 232); 
    height: 915px;  
    width: 100%; 
    position: absolute; 
    top: -30px; 
    z-index: -1;  
} 
.top-container { 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%; 
} 
.contactinfo { 
    text-align: center; 
    color: rgb(172, 172, 172); 
    position: absolute; 
    top: 10px; 
    left: 46%; 
    transform: translateX(-50%); 
    border-bottom: solid 1px; 
    padding-bottom: 10px; 
    border-color: rgb(172, 172, 172); 
    cursor: pointer; 
} 
.social-icons { 
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
    cursor: pointer; 
    margin-right: 120px; 
    margin-top: 15px; 
} 
.social-icons img, .contact-logo { 
    width: 20px; 
    height: 20px; 
} 
.Home-service-news-contact { 
    text-align: center; 
    position: absolute; 
    top: 10%; 
    left: 35%; 
    transform: translateX(-50%); 
    font-weight: bold; 
    cursor: pointer; 
} 
.logo { 
    width: 150px; /* Loggans bredd */ 
    height: auto; 
    margin-right: 30px; 
    margin-top: 15px; 
    cursor: pointer; 
    margin-left: 120px; 
} 
.login-button { 
    background-color: rgb(253, 218, 116); 
    border: none; 
    color: black; 
    padding: 14px 55px; 
    font-size: 16px; 
    border-radius: 30px; 
    cursor: pointer; 
    margin-right: 100px; 
} 
.login-box { 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    margin-top: 0px; 
} 
.content { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
} 
.container { 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    height: 100vh; 
    padding: 20px; 
} 
.headline { 
    font-size: 80px;  
    font-weight: bold; 
    margin-top: -200px; 
} 
.btn { 
    padding: 10px 20px; 
    margin-top: 40px; 
    font-size: 14px; 
    cursor: pointer; 
    border: none;  
    border-radius: 20px; /* runda kanter */ 
    transition: background-color 0.3s;  
} 
#consulting { 
    background-color: rgb(253, 218, 116); 
    color: black; 
} 
#learn-more { 
    background-color: transparent; 
    color: black; 
    border: 1px solid black; 
} 
.picture { 
    display: flex; 
    justify-content: space-evenly; 
    gap: 20px; 
    margin-top: -30px; 
    margin-right: 40px; 
} 
.picture img { 
    width: 200px; 
    height: 100px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 60px;
 } 
 .grid-one { 
    width: 70%; 
    margin: 0 auto;  
    text-align: center;  
    margin-top: 100px; 
} .grid-main { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    align-items: start; 
} 
.rad-2 { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-column: span 2 / span 2; 
    gap: 20px; 
} 
.rad1 > h2 { 
    padding: 0; 
    margin: 0; 
    text-align: start; 
} 
.smallheaders { 
    color: rgb(255, 114, 65); 
    text-align: start; 
    font-size: 13px; 
} 
.flex-ouraccount { 
    padding: 60px; 
    border: solid 1px rgb(240, 239, 231); 
    display: flex; 
    flex-direction: column; 
} 
.business-div { 
    font-weight: bold; 
    margin: 10px; 
} .lorem { 
    font-size: 10px; 
    font-weight: lighter; 
    color: grey; 
    margin-left: 45px; 
} 
.btn2 { 
    padding: 10px 100px; 
    margin-top: 30px; 
    font-size: 14px; 
    cursor: pointer; 
    border: none; 
    border-radius: 30px; 
    transition: background-color 0.3s; 
    background-color: rgb(253, 218, 116); 
} 
.bild { 
    width: 400px; 
    height: 400px; 
    object-fit: cover; 
} 
.container-bild { 
    display: flex; 
    gap: 60px; 
    margin-top: 20px; 
    justify-content: center; 
} 
.container-text { 
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
    align-items: center; 
    gap: 15px; 
    text-align: start; 
    margin-left: 50px; 
} 
.section-two { 
    width: 70%; 
    margin: 0 auto;  
    text-align: center; 
    margin-top: 100px; 
} 
.btn3 { 
    padding: 10px 20px; 
    margin-top: 30px; 
    font-size: 12px; 
    cursor: pointer; 
    border: none; 
    border-radius: 30px; 
    transition: background-color 0.3s; 
    background-color: black; 
    color: white; 
} 
.btn4 { 
    padding: 10px 20px; 
    margin-top: 30px; 
    font-size: 12px; 
    cursor: pointer; 
    border: none; 
    border-radius: 30px; 
    transition: background-color 0.3s; 
    background-color: transparent; 
    color: black; 
} 
.bakgrund { 
    background-color: rgb(240, 239, 232); 
    margin-top: 100px; 
} 
.sektiontre { 
    width: 70%; 
    margin: 0 auto;  
    text-align: center;  
    margin-top: 100px; 
}
.main-container { 
    padding: 20px;  
    margin-top: 30px; 
    text-align: start; 
} 
.flex-container { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px; 
    margin-top: 30px; 
} 
.flex-container > div { 
    height: 25vh; 
    padding: 10px; 
    text-align: start; 
    font-weight: bold; 
} 
.block1, .block3, .block4 { 
    background-color: white; 
    text-align: start; 
} 
.block2 { 
    background-color: rgb(233, 208, 137); 
} 
.browse { 
    padding: 10px 20px; 
    margin-top: 30px; 
    font-size: 12px; 
    cursor: pointer; 
    border: solid black 1px; 
    border-radius: 30px; 
    transition: background-color 0.3s; 
    background-color: transparent; 
    color: black; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
} 
.sektionfyra { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px; 
} 
.usb-with-icon { 
    margin-right: 10px; 
} 
.logo2 { 
    height: 25px; 
    width: 25px; 
} 
.containerett { 
    display: flex; 
    align-items: center; 
} 
.span-header { 
    font-weight: bold; 
} 
.background-images { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    position: relative; 
} 
.white { 
    height: 40%; 
    flex: 1; 
} 
.beige { 
    height: 60%; 
    flex: 1; 
    background: #d3d3d3; 
} 
.flex-choose { 
    display: flex; 
    padding: 20px; 
    justify-content: center; 
    flex-direction: column; 
    width: 400px; 
} 
.text-content { 
    display: flex; 
    flex-wrap: wrap; 
    align-content: stretch; 
    align-items: flex-end; 
    gap: 5px; 
} 
.image-amy { 
    height: 300px; 
    margin-top: 60px; 
    margin-left: 20px; 
} 
.span-header { 
    font-weight: bold; 
} 
.grid-projects { 
    display: grid; 
    gap: 20px; 
    width: 100%; 
    position: relative; 
    grid-template-columns: repeat(2, 1fr); 
} 
.projects-image { 
    width: 100%; 
    height: 250px; 
} 
.section { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 0 13rem; 
} 

.header-grid-projects, .header-grid-clients { 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 10px; 
    margin-bottom: 30px; 
} 
.readmore { 
    text-align: end; 
    font-size: 10px; 
    cursor: pointer; 
} 

.projectsheader { 
    font-weight: bold;
    border-bottom: solid 2px rgb(231, 231, 231); 
    padding-bottom: 15px; 
} 

.projects-button { 
    margin-top: 50px; 
    margin-bottom: 50px; 
    border-radius: 40px; 
    border: none; 
    background: black; 
    color: white; 
    padding: 10px 15px; 
    cursor: pointer; 
} 
.yellow-background { 
    padding: 3rem 13rem; 
    background: rgb(233, 208, 137); 
} 
.members { 
    display: flex; 
    justify-content: space-between; 
    margin-top: 3rem; 
} 
.members img { 
    height: 210px; 
    width: 170px; 
    object-fit: cover; 
} 
.section-clients { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
.section-clients { 
    background: white; 
    padding: 4rem; 
    margin-top: 4rem; 
}
.flex-articles { 
    display: flex; 
    gap: 10px; 
    padding: 0rem 13rem; 
} 
.articles-div { 
    margin-bottom: 60px; 
} 
.articles-div img {
    width: 230px; 
    margin: 100 auto; 
} 
.grid-clients { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    margin-top: 2rem; 
    text-align: start; 
    
} 
.rounded-img { 
    width: 40px; 
    height: 40px; 
    border-radius: 40px; 
} 
.name-image { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-top: 1.5rem; 
} 
.grid-clients div p { 
    font-size: 14px; 
    font-weight: 100; 
} 
.businessheaders { 
    font-size: 10px; 
    color: rgb(106, 108, 114); 
} 
.meet-team-button { 
    border: 1px black solid; 
    background: transparent; 
    color: black; 
    cursor: pointer; 
    background-color: rgb(247, 219, 150); 
    height: 36px; 
    width: 165px; 
    border-radius: 24px; 
} 
.meet-team-articles { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    width: 825px; 
    margin-top: 50px; 
    margin-bottom: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    justify-content: space-between; 
    padding-right: 40px; 
} 
.meet-team-articles button { 
    background-color: #fff; 
} 
.team-header {
    display: flex; 
    justify-content: space-between; 
} 
.newsletter { 
    display: flex; 
    justify-content: space-between; 
    padding: 1rem 1rem; 
    background-color: rgb(240, 239, 231); 
    margin-top: 2rem; 
    width: 100%; 
} 
.input { 
    padding: 10px 20px; 
    margin-top: 30px; 
    font-size: 12px; 
    cursor: pointer; 
    border: none; 
    border-radius: 30px; 
} 
.button-newsletter { 
    padding: 10px 20px; 
    margin-top: 30px; 
    font-size: 12px; 
    cursor: pointer; 
    border: none; 
    border-radius: 30px; 
    background-color: rgb(253, 218, 116); 
} 
.end-container { 
    display: flex; 
    background-color: rgb(0, 0, 39); 
    padding: 20px; 
    box-sizing: border-box; 
} 
.box { 
    width: 200px; 
    height: 150px; 
    background-color: rgb(0, 0, 39); 
    color: white; 
    text-align: center; 
    font-size: 10px; 
    line-height: 1.5; 
    margin-right: 30px; 
    overflow: visible; 
    text-overflow: ellipsis; 
} 
.box-one { 
    width: 250px; 
    height: 200px; 
    background-color: rgb(0, 0, 39); 
    color: white; 
    font-size: 10px; 
    line-height: 1.5; 
    margin-right: 30px; 
    margin-left: 80px; 
    overflow: visible; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
} 
.box:hover { 
    overflow: visible; 
    white-space: normal; 
    text-overflow: unset; 
} 
.h3 { 
    margin: 10; 
    font-weight: bold; 
} 
.widescreen-box-one { 
    background-color: rgb(0, 0, 39); 
    color: white; 
    text-align: left; 
    padding: 10px 150px; 
    font-size: 10px; 
    bottom: 0; 
    left: 0; 
    border-top: 1px solid #949494; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
.logo-container-end { 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
} 
.logo-container-end img { 
    width: 20px; 
    height: 20px; 
    margin-left: 10px; }

